@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

/* basic 설정 */
:root{
    /* color */
    --white-color: #fff;
    --black-color: #140a00;
    --blue-color: #045fd4;
    --red-color: #ff0000;
    --grey-dark-color: #909090;
    --grey-light-color: #e0e0e0;

    /* size */
    --padding: 12px;
    --avatar-size: 36px;

    /* font size */
    --font-large: 18px;
    --font-medium: 14px;
    --font-small: 12px;
    --font-micro: 10px;
}

*{
    box-sizing: border-box;
}

body{
    font-family: 'Roboto',sans-serif;
}

a{
    color: #222;
    text-decoration: none;
}

button,
button:focus{
    border: none;
    cursor: pointer;
    outline: none;
    background-color:transparent;
}

body{
  width: 100%;
  height: 100%;
}
.login-box{
  width: 400px;
  height: 580px;
  transform: translateY(10%);
  margin: 0 auto;
}